<h1>Create Sub</h1>

<form class="" action="<%=subs_url%>" method="post">

  <label>Title:
    <input type="text" name="sub[title]" value="">
  </label>

  <label>Description:
    <textarea name="sub[description]" rows="8" cols="80"></textarea>
  </label>

  <button type="submit" name="button">Create Sub</button>

</form>
